<p>
  This is a Multi-tennant Platform. It will handle your users invitations. It is meant as a platform for your apps that allow users of a company or organization to easily create apply forms.
  Please contact to us at email aaa@ggg.com
</p>