<%- unless @polls.blank?%>
  <p>
    Answers for form:
    <label><%= @polls.first.bunch_type.name %></label>
  </p>

  <%- @polls.each do |poll|%>
    <p><b>Date:</b>
      <%= poll.created_at%>
    </p>
    <% poll.properties.each do |name, value| %>
      <p>
        <b><%= name.humanize %>:</b>
        <%= value %>
      </p>
    <% end %>
    <br>
  <% end %>
<%end%>