// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form_branch{
  width: 50%;
  border: solid;
  padding: 20px;
  margin-bottom: 10px;
}
